/* global settings */
html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-decoration: none;
}

body {
    background-image: url("images/leaves.jpg");
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
}
/* header area~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
    background-color: rgb(182, 142, 126);
    background-image: url("images/dashboard.jpg");
    background-size: 100%;
    position: fixed;
    width: 100%;
    box-shadow: 8px 8px 20px 8px rgba(0,0,0,0.2);
    z-index: 1;
}
h1 {
    display: none;
}
.logo {
    clear: both;
    z-index: -1;
    float: left;
    margin: 8px;
}
nav {
    margin: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 16px;
}
nav a, main a {
    text-decoration: none;
    color: black;
}
.page_links, .page_dashes, .social_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 150px;
}
.page_links a {
  font-size: 20px;
  margin-bottom: 0;
}
.page_dashes a, .page_dashes li {
  margin-left: 16px;
  font-size: 20px;
  margin-top: 0;
  padding-top: 0;
}
.page_links, .page_dashes, .social_links, .dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page_dashes {
  position: relative;
  top: -7px;
  right: 18px;
}

.dropbtn {
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
  }
  nav a:hover, main a:hover, .dropdown:hover .dropbtn {
    color: rgb(224, 159, 55);
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #a37c5c;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 20px;
    padding-top: 10px;
    right: 13px;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 14px;
  }
  .dropdown-content a:hover {
    background-color: rgb(224, 159, 55);;
    color: black;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* main area~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#anchor_links {
  float: left;
  position: fixed;
  margin-top: 100px;
  margin-left: 8px;
  list-style-type: none;
  text-shadow: 2px 2px 5px black;
}
#anchor_links a {
  color: rgb(219, 182, 166);
}
#greeting {
  padding-top: 110px;
}
.me {
  float: left;
  border-radius: 5px;
  margin: 16px;
}
h2 {
  text-align: center;
  margin: 20px 0 10px 0;
  text-shadow: 2px 2px 5px black;
  color: white;
}
.area {
  width: 100%;
  background-color: rgb(15, 15, 15);
  box-shadow: 8px 8px 20px 8px rgba(0,0,0,0.2);
  padding: 10px 0 10px 0;
  margin: 0;
}
.wrapper {
  background-color: rgb(24, 24, 24);
  width: 600px;
  margin: auto;
  padding: 20px;
  overflow: visible;
  border-radius: 5px;
  box-shadow: 8px 8px 20px 8px rgba(0,0,0,0.2);
  color: white;
  }
  .wrapper p {
    margin: 10px;
  }
  iframe {
    border-radius: 5px;
  }
  /* footer area~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  footer {
    text-align: center;
    font-size: 10px;
  }